In [15]:
print("Hii, Chirag")

Hii, Chirag

In [16]:
import pandas as pd
import numpy as np

In [17]:
a = pd.DataFrame([1,2,3])
a

   0
0  1
1  2
2  3

In [18]:
a = pd.Series([1,2,3,4] , index=["a" , "b" , "c" , "d"])
a

a    1
b    2
c    3
d    4
dtype: int64

In [21]:
a = pd.DataFrame(np.arange(10,21))
a

     0
0   10
1   11
2   12
3   13
4   14
5   15
6   16
7   17
8   18
9   19
10  20

In [22]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [24]:
lst = ['a', 'b', 'c']
df = pd.DataFrame(lst)
df

   0
0  a
1  b
2  c

In [27]:
data = {'Name': ['John', 'Tom', 'Jack']
,'Age': [28, 25, 23]}
df = pd.DataFrame(data)
df

   Name  Age
0  John   28
1   Tom   25
2  Jack   23

In [28]:
a = pd.read_csv("https://raw.githubusercontent.com/dubey-dhananjay/Python/refs/heads/main/Codes/4%E1%B5%97%CA%B0_Data-Analysis_Python/3_Pandas/marksUT.csv" , header = 0)
a

        Name  UT  Maths  Science  S.St.  Hindi  Eng
0      Raman   1     22       21     18     20   21
1      Raman   2     21       20     17     22   24
2      Raman   3     14       19     15     24   23
3    Zuhaire   1     20       17     22     24   19
4    Zuhaire   2     23       15     21     25   15
5    Zuhaire   3     22       18     19     23   13
6   Aashravy   1     23       19     20     15   22
7   Aashravy   2     24       22     24     17   21
8   Aashravy   3     12       25     19     21   23
9     Mishti   1     15       22     25     22   22
10    Mishti   2     18       21     25     24   23
11    Mishti   3     17       18     20     25   20

In [31]:
ramanmarks = a.loc[a.Name == "Raman"]
ramanmarks

    Name  UT  Maths  Science  S.St.  Hindi  Eng
0  Raman   1     22       21     18     20   21
1  Raman   2     21       20     17     22   24
2  Raman   3     14       19     15     24   23

In [34]:
ramanmarks.sum(axis=1 , numeric_only=True)

0    103
1    106
2     98
dtype: int64

In [37]:

df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [24, 27, 22]})

df.to_csv('output.csv' , index = False)

In [47]:
df = pd.read_excel("Book1.xlsx")
df

FileNotFoundError: [Errno 2] No such file or directory: 'Book1.xlsx'